body {
    -webkit-animation: raduga 0.5s linear infinite alternate both;
}

@keyframes raduga {
    0% {
        background: #ff0000ff;
    }
    50% {
        background: #00ff00ff;
    }
    100% {
        background: #0000ffff;
    }
}
