.main_item:nth-child(5n+1) img {
  -webkit-filter: invert(20%);
          filter: invert(20%);
}

.main_item:nth-child(5n+2) img {
  -webkit-filter: invert(40%);
          filter: invert(40%);
}

.main_item:nth-child(5n+3) img {
  -webkit-filter: invert(60%);
          filter: invert(60%);
}

.main_item:nth-child(5n+4) img {
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

.main_item:nth-child(5n+5) img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin: 20px 20px;
  border: thin outset black;
  background-color: #f0f0f0;
  padding: 0 0 20px 0;
}

.header_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 200px 200px 200px 350px;
      grid-template-columns: 50px 200px 200px 200px 350px;
  grid-auto-rows: 50px;
}

.header_wrapper_square {
  background-color: #ec2dff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_wrapper_logo img {
  width: 40px;
  height: 40px;
}

.header_wrapper_name {
  color: #ec2dff;
  font-size: 20px;
  margin: 22px 40px;
}

.header_wrapper_button {
  margin: 10px 0 10px 800px;
  width: 200px;
  height: 50px;
  color: White;
  background-color: #ec2dff;
  border: none;
  border-radius: 10px;
}

.header_wrapper_button:hover {
  background-color: pink;
  cursor: pointer;
}

.main_header {
  display: inline-block;
  margin: 30px 0 0 0;
}

.main_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_item {
  width: 300px;
  height: 300px;
  margin: 100px 0 0 0;
}

.main_item_imgwrapper {
  position: relative;
}

.main_item_type {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff0000;
  border: thin double black;
  color: White;
}

.main_item_img {
  max-width: 200px;
  max-height: 200px;
}

.main_item_name {
  font-weight: 1000;
  margin-top: 20px;
  margin-right: 30px;
  text-align: center;
  padding-right: 70px;
}

.main_item_descr {
  text-align: center;
  margin-right: 30px;
  padding-right: 70px;
}

.footer {
  padding-bottom: 30px;
  padding-right: 150px;
  padding-left: 150px;
}

.footer_line {
  margin-top: 30px;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_wrapper_icons {
  margin-top: 10px;
  
  margin-right: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_wrapper_name {
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */