@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/toasts";

$background-body: #000000;
$primary-color: #ffffff;
body{
    background: $primary-color;
    
    h2{
      color: black;
      margin-top: 25px;
    }
}

.nav{
  background:  $background-body;
  height: 90px;

  .imagE{
    height: 50px;
    position: absolute;
    top: 21px;
    margin-left: 21px;
    border-radius: 100%;
  }

  a{
    height: 50px;
    position: absolute;
    top: 36px;
    left: 150px;
    text-decoration:  none;
    color: black;
    font-family: "Arial", sans-serif;
  }
  button{
    position: absolute;
    right: 50px;
    top: 28px;
    color: white;
    border: none;
    border-radius: 5px;
  }

}
.secb{
  margin-top: 50px;
}
